body {
    background-color: rgba(158, 68, 241, 0.411);

    font-size: 16px;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgba(235, 55, 160, 0.507);
}

a:visited {
    color: rgba(235, 55, 160, 0.507);
}

.info {
    margin-bottom: 20px;
}

.info p {
    margin: 0;
    font-style: italic; 
    font-weight: bold;
    text-decoration: none;
    
 }
.container {
    max-width: 75%;
    margin: auto;
}
.exp {
    padding: 15px;
    margin: 5px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 20px;
}

.bg-lightpink {
    background: #FFC0CB;
}

.bg-pink {
    background: #DB7093;
}

.bg-darkpink {
    background: #C71585;
}

.list {
    list-style: circle;
}

.list li {
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.exp {
    width: 100%;
}

.exp td {
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.exp td:nth-child(2), .exp td:nth-child(3) {
    color: rgb(39, 16, 30);
}

.contact {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.contact h2 {
    text-align: center;
}
